@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  outline-color: purple;

  &:not(html) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

html,
body {
  position: relative;
  height: 100dvh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #f0eef6;
  display: flex;
  align-items: center;
  flex-direction: column;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
  scrollbar-gutter: stable both-edges;

  &.lock-scroll {
    scrollbar-gutter: unset;
    overflow: hidden;
  }
}

a {
  width: fit-content;
  color: purple;
  text-decoration: none;
  display: block;
  transition: 0.15s;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  &,
  & li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

input,
select,
option {
  font: inherit;
  font-size: 14px;
  padding: 0.6em 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}

$page-size: 968px;

#app {
  width: $page-size;
  padding: 1em 0;
  display: flex;
  flex: 1;
  flex-direction: column;

  & main {
    padding: 1em;
  }
}

button,
.btn {
  cursor: pointer;
  min-width: 150px;
  padding: 0.5em 0.75em;
  border-radius: 3px;
  border: 1px solid transparent;
  color: #fff;
  background-color: purple;
  transition: 0.15s;

  &.danger {
    background-color: red;
  }

  &:hover {
    text-decoration: none;
  }
}

form {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.field {
  display: flex;
  justify-content: center;
  flex-direction: column;

  & input {
    width: 100%;
  }
}

@media screen and (max-width: $page-size) {
  #app {
    width: 100%;
  }
}
